---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
	}

	body {
		height: 100%;
		width: 100%;
		background: #e9dfc4;
		background: -moz-linear-gradient(
			left,
			#e9dfc4 0%,
			#e9dfc4 1%,
			#ede3c8 2%,
			#ede3c8 24%,
			#ebddc3 25%,
			#e9dfc4 48%,
			#ebddc3 49%,
			#e6d8bd 52%,
			#e6d8bd 53%,
			#e9dbc0 54%,
			#e6d8bd 55%,
			#e6d8bd 56%,
			#e9dbc0 57%,
			#e6d8bd 58%,
			#e6d8bd 73%,
			#e9dbc0 74%,
			#e9dbc0 98%,
			#ebddc3 100%
		);
		background: -webkit-gradient(
			linear,
			left top,
			right top,
			color-stop(0%, #e9dfc4),
			color-stop(1%, #e9dfc4),
			color-stop(2%, #ede3c8),
			color-stop(24%, #ede3c8),
			color-stop(25%, #ebddc3),
			color-stop(48%, #e9dfc4),
			color-stop(49%, #ebddc3),
			color-stop(52%, #e6d8bd),
			color-stop(53%, #e6d8bd),
			color-stop(54%, #e9dbc0),
			color-stop(55%, #e6d8bd),
			color-stop(56%, #e6d8bd),
			color-stop(57%, #e9dbc0),
			color-stop(58%, #e6d8bd),
			color-stop(73%, #e6d8bd),
			color-stop(74%, #e9dbc0),
			color-stop(98%, #e9dbc0),
			color-stop(100%, #ebddc3)
		);
		background: -webkit-linear-gradient(
			left,
			#e9dfc4 0%,
			#e9dfc4 1%,
			#ede3c8 2%,
			#ede3c8 24%,
			#ebddc3 25%,
			#e9dfc4 48%,
			#ebddc3 49%,
			#e6d8bd 52%,
			#e6d8bd 53%,
			#e9dbc0 54%,
			#e6d8bd 55%,
			#e6d8bd 56%,
			#e9dbc0 57%,
			#e6d8bd 58%,
			#e6d8bd 73%,
			#e9dbc0 74%,
			#e9dbc0 98%,
			#ebddc3 100%
		);
		background: -o-linear-gradient(
			left,
			#e9dfc4 0%,
			#e9dfc4 1%,
			#ede3c8 2%,
			#ede3c8 24%,
			#ebddc3 25%,
			#e9dfc4 48%,
			#ebddc3 49%,
			#e6d8bd 52%,
			#e6d8bd 53%,
			#e9dbc0 54%,
			#e6d8bd 55%,
			#e6d8bd 56%,
			#e9dbc0 57%,
			#e6d8bd 58%,
			#e6d8bd 73%,
			#e9dbc0 74%,
			#e9dbc0 98%,
			#ebddc3 100%
		);
		background: -ms-linear-gradient(
			left,
			#e9dfc4 0%,
			#e9dfc4 1%,
			#ede3c8 2%,
			#ede3c8 24%,
			#ebddc3 25%,
			#e9dfc4 48%,
			#ebddc3 49%,
			#e6d8bd 52%,
			#e6d8bd 53%,
			#e9dbc0 54%,
			#e6d8bd 55%,
			#e6d8bd 56%,
			#e9dbc0 57%,
			#e6d8bd 58%,
			#e6d8bd 73%,
			#e9dbc0 74%,
			#e9dbc0 98%,
			#ebddc3 100%
		);
		background: linear-gradient(
			to right,
			#e9dfc4 0%,
			#e9dfc4 1%,
			#ede3c8 2%,
			#ede3c8 24%,
			#ebddc3 25%,
			#e9dfc4 48%,
			#ebddc3 49%,
			#e6d8bd 52%,
			#e6d8bd 53%,
			#e9dbc0 54%,
			#e6d8bd 55%,
			#e6d8bd 56%,
			#e9dbc0 57%,
			#e6d8bd 58%,
			#e6d8bd 73%,
			#e9dbc0 74%,
			#e9dbc0 98%,
			#ebddc3 100%
		);
		background-size: 120px;
		background-repeat: repeat;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
